/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS normalization */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
  /* Color Scheme */
  /* Font Scheme */
  --joan: 'Joan', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: var(--joan);
  font-size: 14px;
}

a {
  text-decoration: none;
}
